body{
  
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
.menu-container{
    margin-bottom: 40px;
    text-align: center;
    margin-top: 30px;
    
}
.menu-container a{
    text-decoration: none;
    color: black;
    margin-right: 100px;
    font-weight: 500;
    background-color: rgb(226, 47, 83);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;

    
}
.menu-container a:hover{
    background-color: rgb(255, 166, 0);
}
.diet-container{
    display: flex;
    margin-bottom: 100px;
}
.about-container{
    display: flex;
    background-image: url(shapes/7.png);
   background-position: right;
   background-repeat: no-repeat;
   padding-top: 60px;
   margin-bottom: 100px;
}
.recipies-container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
}
.diet-div{
    width: 100%;
    margin-left: 80px;
   
}
.about-div{
    margin-left: 120px;
    margin-top: 50px;
}
.diet-img-div{
    margin-right: 80px;
}
.about-img-div{
    margin-left: 120px;
   
}
.diet-img{
    width: 110%;
}
.about-img{
    width: 100%;
    
}
.reg-button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}
.common-paragraph{
   margin-bottom: 50px;
   width: 80%;
}
.about-paragraph{
    width: 80%;
    margin-bottom: 80px ;

}
.card-image img{
    width: 100%;
}
.card-div{
    width: 100%;
}
.card-wrap{
    box-shadow: 5px 5px 20px gray;
    padding: 20px;
    margin: 20px;
    width: 100%;
    border-radius: 20px;
   
}
.card-container{
    margin: 50px;
    display: flex;
}
.subscribe-div{
    display: flex;
    
}
.youtube-div{
    margin-left: 100px;
}

.subscribe-container{
    box-shadow: 5px 5px 10px gray;
    margin: 70px;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: black;
    height: 150px;
    padding-top: 10px;
}
footer h3{
    color: gray;
}
footer small{
    color: gray;
}