body{
  
    font-family: 'Arimo', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
}
.diet-container{
    display: flex;
    margin-bottom: 100px;
}
.about-container{
    display: flex;
    background-image: url(shapes/7.png);
   background-position: right;
   background-repeat: no-repeat;
   padding-top: 60px;
   margin-bottom: 100px;
}
.recipies-container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
.diet-div{
    width: 100%;
    margin-left: 80px;
   
}
.about-div{
    margin-left: 120px;
    margin-top: 50px;
}
.diet-img-div{
    margin-right: 80px;
}
.about-img-div{
    margin-left: 120px;
   
}
.diet-img{
    width: 110%;
}
.about-img{
    width: 100%;
    
}
.reg-button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}
.common-paragraph{
   margin-bottom: 50px;
   width: 80%;
}
.recipies-paragraph{
  
    
}
.about-paragraph{
    width: 80%;
    margin-bottom: 80px ;

}